.layout-main{
    overflow:auto;
    --bg-colour-dark:#21222A;
    --bg-colour-mid:#383947;
    --bg-colour-light:#4E5064;


    background: linear-gradient(var(--bg-colour-dark), var(--bg-colour-light));
    color:#BEBFCB;
    height:100vh;
    width:100vw;
    .header{
        background: linear-gradient(to left, var(--bg-colour-dark), var(--bg-colour-light));
        display:flex;
        flex-direction:row;
        height:15vh;
        align-items: end;
        justify-content: space-between;
        span{
            padding:20px;
        }
        img{
            height:100%;
            width:auto;
        }
    }
    .nav-bar{
        position:sticky;
        top:-1px;
        z-index:3;
    }
    .nav-list{
        height:5vh;
        display:flex;
        flex-direction:row;
        background-color: var(--bg-colour-dark);
        border-bottom:5px solid var(--bg-colour-mid);
        .nav-element{
            flex-grow:1;
            padding:5px;
            text-align: center;
            &:hover{
                background-color: var(--bg-colour-light);
                transition:background-color 0.3s linear;
                cursor:pointer;
            }
            &.active{
                background-color: var(--bg-colour-mid);
            }
        }
    }
}

.content-container{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    >*{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width:1000px;
        background-color: var(--bg-colour-mid);
        padding:40px;
        video{
            width:100%;
            height:500px;
            object-fit:contain;
        }
    }
}

.hoverable{
    width:calc(100% - 20px);
    padding:10px;
    margin:10px;
    border-radius: 5px;
    &:hover{
        background-color: #4E5064;
        transition:background-color 0.3s linear;
    }
}
.carousel-container{
    width:100%;
}

.column{
    display:flex;
    flex-direction: column;
}
.row{
    display:flex;
    flex-direction: row;
}

.practiced-button{
    margin:10px;
    padding:calc(10px + 2vmin);
    width:calc(100% - 20px);
    font-size: calc(7.5px + 1.5vmin);
    background-color: var(--bg-colour-dark);
    transition:background-color 0.2s linear;
    color:#BEBFCB;
    border-style:none;
    border-radius:5px;
    &:hover{
        background-color: var(--bg-colour-mid);
    }
}